/* Contact Section Style */
.contact {
    background-color: $color-white-soft;

    &-block {
        display: flex;
        margin-bottom: toRem(20);

        &__icon {
            width: toRem(40);
            height: toRem(40);
            line-height: toRem(40);
            text-align: center;
            color: $color-white;
            background-color: $color-primary;
            box-shadow: 0 toEm(15) toEm(20) toEm(-5) rgba($color-primary, $alpha: 0.4);
            border-radius: toRem(7);
        }

        &__map {
            width: 10px;
            max-width: 10px;
            display: inline-block;
        }

        &__content {
            //padding-left: toRem(20);
            margin-left: toRem(10);

            &__title {
                font-size: toRem(14);
                font-weight: 700;
                text-transform: uppercase;
            }

            &__text {
                font-size: toRem(15);

                &:focus,
                &:hover {
                    text-decoration: underline;
                }
            }

            &__hours {
                font-size: toRem(16);
                text-align: end;

            }
        }

    }

    &-header {
        display: flex;
        position: relative;
        margin-bottom: toRem(5);

        padding: 0;
        z-index: 8;
        //margin-right: toRem(10);

        &__icon {
            width: toRem(22);
            height: toRem(22);
            line-height: toRem(22);
            text-align: center;
            color: $color-white;
            background-color: $color-primary;
            box-shadow: 0 toEm(15) toEm(20) toEm(-5) rgba($color-primary, $alpha: 0.4);
            border-radius: toRem(4);
        }

        &__content {
            padding-left: toRem(5);

            &__title {
                font-size: toRem(10);
                font-weight: 700;
                text-transform: uppercase;
            }

            &__text {
                font-size: toRem(12);
                font-weight: 700;

                &:focus,
                &:hover {
                    text-decoration: underline;
                }
            }

            &__hours {
                font-size: toRem(16);
                text-align: end;

            }
        }
    }

    .form {
        padding: toRem(40) toRem(30);
        background-color: $color-white;
        border-radius: toRem(8);

        @include mobile {
            padding-left: toRem(20);
            padding-right: toRem(20);
        }
    }
}

.location-card {
    padding: toRem(32);
    border: 1px solid lighten($color-gray, $amount: 35);
    margin-bottom: toRem(30);

    &__title {
        font-weight: 700;
        font-family: $font-primary;
        margin-bottom: toRem(30);
        text-transform: capitalize;
    }

    &__text,
    &__link {
        font-size: toRem(18);
    }

    &__link {
        display: block;
        margin-bottom: toRem(30);

        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
}